<% provide(:title, 'Gestión de Usuarios') %>
<% provide(:description, 'Página principal de Gestión de Usuarios.') %>
<div class="row">
  <div class="col-md-12">
    <div class="widget">
      <div class="widget-header bg-white">
        <h3>USUARIOS REGISTRADOS</h3>
      </div>
      <div class="widget-content bg-white">
        <table class="table" style="width:100%">
          <thead>
            <tr>
              <th>#</th>
              <th>Nombre</th>
              <th>Email</th>
              <th>Status</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <% @users.each do |user| %>
                <tr>
                  <td><%= user.id %></td>
                  <td><%= user.name %></td>
                  <td><%= user.email %></td>
                  <td>Admin</td>
                  <td>Prueba</td>
                </tr>
              <% end %>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
