<% provide(:title, 'Nuevo Usuario') %>
<% provide(:description, 'Rellene el formulario para crear un nuevo usuario.') %>
<div class="row">
  <div class="col-md-12">
    <div class="widget">
      <div class="widget-header bg-white">
        <h3>FORMULARIO DE REGISTRO</h3>
      </div>
      <div class="widget-content bg-white">
        <%= render partial: "form", object: @users, locals: { submit_label: "Crear usuario" } %>
      </div>
    </div>
  </div>
</div>
