<div id="client-search-info">
  <div class="row">
    <div class="col-md-3", style="text-align:right;">
      Nombre:
    </div>
    <div class="col-md-9">
      <%= @client.name %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3", style="text-align:right;">
      Dirección:
    </div>
    <div class="col-md-9">
      <%= @client.address %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3", style="text-align:right;">
      Teléfono de contacto:
    </div>
    <div class="col-md-9">
      <%= @client.contact_phone %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3", style="text-align:right;">
      CIF/DNI:
    </div>
    <div class="col-md-9">
      <%= @client.cif_dni %>
    </div>
  </div>
</div>
