@import 'bootstrap';

html, body {
  min-height: 100%;
  height: 100%;
}

body {
  -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: 'Source Sans Pro','Helvetica Neue',Helvetica,Arial,sans-serif;
    font-weight: 400;
    overflow-x: hidden;
    overflow-y: auto;
}

h1, h2, h3, h4, h5, h6 {
    color: #555;
    margin-top: 5px;
    text-shadow: none;
    font-weight: normal;
    font-family: "Open Sans", Arial, sans-serif;
}

h3 {
    font-size: 20px;
    line-height: 27px;
}

h5 {
    line-height: 21px;
}

.btn-inline-group {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  width: 100%;
  margin-bottom: 20px;

  a:first-child {
    margin-left: 0;
  }

  a:last-child {
    margin-right: 0;
  }

  .btn-select {
    position: relative;
    float: left;
    border-radius: 3px;
    width: 30%;
    margin: 0 2.5%;
  }
}

.btn-flat {
  border-radius: 3px;
  width: auto;
}

.btn-block {
  display: block;
  width: 100%;
}

.btn-new-table-row {
  margin-bottom: 12px;
}

.btn-form {
  padding-top: 0px;
  padding-bottom: 0px;
}

.field_with_errors {
  @extend .has-error;
  display: inline;
  input {
    border-width: thin;
    border-style: solid;
    border-color: red;
  }
}

.form-control {
  border-radius: 0;
  box-shadow: none;
  display: inline-block;
}

input:-webkit-autofill, input:-webkit-autofill:active,
input:-webkit-autofill:hover, input:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0px 1000px white inset;
}
