@import 'bootstrap';

html, body {
  color: #767676;
  background: #F1F2F2;
  font-family: 'Open Sans',sans-serif;
  padding: 0px !important;
  margin: 0px !important;
  font-size: 13px;
  text-rendering: optimizeLegibility;
  overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6 {
    color: #555;
    margin-top: 5px;
    text-shadow: none;
    font-weight: normal;
    font-family: "Open Sans", Arial, sans-serif;
}

h3 {
    font-size: 20px;
    line-height: 27px;
}

h5 {
    line-height: 21px;
}

.bg-white {
    background: #ffffff !important;
    color: inherit;
}

.bg-info {
    background-color: #5BC0DE !important;
    color: white !important;
}

.btn-flat {
  border-radius: 0px;
  width: auto;
}

.btn-form {
  padding-top: 0px;
  padding-bottom: 0px;
}

.field_with_errors {
  @extend .has-error;
  display: inline;
  input {
    border-width: thin;
    border-style: solid;
    border-color: red;
  }
}

.table > tbody > tr > td {
  padding-top: 12px;
  padding-bottom: 12px;
}

.table>thead>tr>th {
    border-bottom: 2px solid #ddd;
}

.table-icon {
  float: right;
  margin: 3px 8px;
}
