form[class$="primary"] {

  .form-group {
    margin-bottom: 0px;
  }

  label {
    font-weight: lighter;
    height: 24px;
    margin-bottom: 0;
    text-align: left;
    padding-top: 0px;
    font-weight: bold;
  }

  .form-error-display {
    text-align: left;
    font-weight: normal;
    color: #DD4B39;
  }

  input[type="text"], [type="email"], [type="password"] {
    height: 34px;
    width: 100%;
    padding-left: 10px;
  }

  input[type="checkbox"] {
    background-color: #fff;
    margin-bottom: 21px;
    top: 2px;
    position: relative;
  }
}

.inline-form {
  height: 50px;

  .form-group {
    margin-top: 15px;

    &.inline-group {
      float: right;
    }

    .form-control {
      margin-left: 15px;
      width: 120px;
    }

    .btn-inline {
      border-top-left-radius: 0px;
      border-bottom-left-radius: 0px;
      width: 80px;
      margin-top: -2px;
      margin-left: -5px;
    }
  }
}

.separator-form {
  margin-top: 20px;
}

.form-control:focus {
  border-color: #3c8dbc;
  box-shadow: none;
}
