#container {
  width: 100%;
  height: 100%;
}

#sidebar {
    width: 240px;
    height: 100%;
    position: fixed;
    background: #fff;
    color: gray;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
    border-right: 0px solid #F5EFF5;
    box-shadow: 1px 0 3px rgba(0,0,0,.15);
}

a {
    color: #32323A;
}

a:hover, a:focus {
  color: #767676;
  text-decoration: none;
  outline: none;
}

.fixed-top {
  position: fixed;
  box-shadow: 1px 0 3px rgba(0, 0, 0, .15);
}

.header {
    left: 0;
    right: 0;
    z-index: 1061;
    height: 50px;
    background-color: #3c8dbc;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.logo {
  background-color: #367fa9;
  color: #fff;
  border-bottom: 0 solid transparent;
  -webkit-transition: width .3s ease-in-out;
  -o-transition: width .3s ease-in-out;
  transition: width .3s ease-in-out;
  display: block;
  float: left;
  height: 50px;
  font-size: 20px;
  line-height: 50px;
  text-align: center;
  width: 240px;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  padding: 0 15px;
  font-weight: 300;
  overflow: hidden;
}

.top-navbar {
  float: right;

  .navbar-nav li.dropdown {
    height: 50px;

    a {
      color: #fff;
    }
  }

  .navbar-nav .user-menu {
    padding-right: 15px;
  }
  
  .nav>li>a:hover, .nav>li>a:active,
  .nav>li>a:focus, .nav .open>a,
  .nav .open>a:hover, .nav .open>a:focus,
  .nav>.active>a {
    background: rgba(0,0,0,0.1);
    color: #f6f6f6;
  }

  .img-circle {
    float: left;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    margin-right: 10px;
    margin-top: -2px;
  }

  .label-warning {
    font-size: 10px;
    font-weight: normal;
    line-height: 13px;
    padding: 2px 6px;
    position: absolute;
    right: 0px;
    top: 4px;
  }
}

.sidebar {
  background-color: #222d32;
  position: absolute;
  top: 0;
  left: 0;
  padding-top: 50px;
  min-height: 100%;
  width: 240px;
  z-index: 810;

  .sidebar-menu {
    padding-left: 0px;
    height: 100%;

    .sidebar-header {
      color: #4b646f;
      background: #1a2226;
      overflow: hidden;
      text-overflow: clip;
      white-space: nowrap;
      padding: 10px 25px 10px 15px;
      font-size: 12px;
    }

    .leftside-logo {
      padding: 10px;
      color: #fff;
      height: 80px;
      text-align: center;
    }

    .sidebar-buttons a {
      color: #b8c7ce;
      display: block;
      padding: 12px 5px 12px 15px;
      text-decoration: none;
      position: relative;
      border-left: 3px solid transparent;
    }

    li:hover>a, li.active>a {
      color: #fff;
      background: #1e282c;
      border-left-color: #3c8dbc;
    }

    .sidebar-buttons .icon-arrow-right {
      float: right;
      font-size: 12px;
      padding-top: 6px;
      padding-right: 20px;
    }
  }
}

#main-content {
  margin-left: 240px;
  -webkit-transition: all .5s ease-in-out;
  -moz-transition: all .5s ease-in-out;
  -o-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

.wrapper {
  display: inline-block;
  margin-top: 0px;
  padding: 87px 27px 0px;
  width: 100%;
}

.top-page-header {
    background: white;
    margin-top: 0px;
    margin-bottom: 22px !important;
    padding-top: 7px;
    padding-left: 20px;
    padding-bottom: 20px;
    padding-right: 11px;
    box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.05);
    -webkit-box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.05);
}

.row {
    margin-right: -15px;
    margin-left: -15px;
}

.widget {
  box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.05);
  -webkit-box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.05);

  .widget-header {
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    margin-bottom: 0px;
    border-bottom: 1px solid #eee;
  }

  .widget-content {
    padding: 20px;
  }

  h1, h2, h3, h4, h5, h6 {
    margin-top: 0px;
    margin-bottom: 0px;
  }
}
