$labelWidth: 58px;

.switch {
  height: 34px;
  width: $labelWidth * 2 + 4px;
  background: #fff;
  border-radius: 0px;
}

.switch.form-control {
  padding: 1px;
}

.switch-indent {
  margin-left: 20%;
}

.switch-label {
  position: relative;
  z-index: 2;
  float: left;
  width: $labelWidth !important;
  line-height: 30px;
  font-size: 14px;
  text-align: center !important;
  cursor: pointer;
  padding: 0 !important;
  &:active { font-weight: bold; }
}

.switch-label-off { padding-left: 2px; }
.switch-label-on { padding-right: 2px; }

.switch-input {
  display: none;

  &:checked + .switch-label {
    color: white;
    -webkit-transition: .15s ease-out;
       -moz-transition: .15s ease-out;
         -o-transition: .15s ease-out;
            transition: .15s ease-out;
  }

  &:checked + .switch-label-on ~ .switch-selection {
    left: $labelWidth;
  }
}

.switch-selection {
  display: block;
  position: relative;
  z-index: 1;
  top: 0px;
  left: 0px;
  width: $labelWidth;
  height: 30px;
  background: #337ab7;
  border-radius: 0;
  -webkit-transition: left .15s ease-out;
     -moz-transition: left .15s ease-out;
       -o-transition: left .15s ease-out;
          transition: left .15s ease-out;
}
