.btn-new-user {
  margin-bottom: 12px;
}

.box-status {
  color: #fff;
  background-color: #337AB7;
  border-radius: 3px;
  width: 58px;
  text-align: center;
}

.widget-subsection {
  border-bottom: 1px dotted #ccc;
  padding-bottom: 5px;

  .bottom-border-clr {
    border-bottom: 4px solid #496683;
    padding-bottom: 5px;
  }

  strong {
    font-weight: 700;
  }
}

.separator-form {
  margin-top: 20px;
}
