<% provide(:title, 'Editar Descripción de Componente') %>

<div class="row">
  <div class="col-md-12">
    <div class="box">
      <div class="box-header hd-primary">
        Descripción
      </div>
      <div class="box-content">
        <%= render partial: "form", object: @component_desc, locals: { submit_label: "Guardar cambios" } %>
      </div>
    </div>
  </div>
</div>
