<% provide(:title, 'Nuevo Componente') %>
<% provide(:description, 'Rellene el formulario para crear un nuevo componente.') %>
<div class="row">
  <div class="col-md-12">
    <div class="widget">
      <div class="widget-header bg-white">
        <h3>FORMULARIO DE COMPONENTES</h3>
      </div>
      <div class="widget-content bg-white">
        <%= render partial: "form", object: @component_descs, locals: { submit_label: "Crear componente" } %>
      </div>
    </div>
  </div>
</div>