<% provide(:title, 'Nuevo Componente') %>

<div class="row">
  <div class="col-md-12">
    <div class="box">
      <div class="box-header hd-primary">
        Descripción
      </div>
      <div class="box-content">
        <%= render partial: "form", object: @component_descs, locals: { submit_label: "Crear componente" } %>
      </div>
    </div>
  </div>
</div>
